* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root {
  background: black;
  width: 100%;
  height: 100%;
}


/* Landing Video Wrapper */
.video-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Video */
.bg-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/* Dark overlay */
.video-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

/* Content */
.app-container {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 16px;
}

.app-title {
  color: white;
  font-size: 22px;
  font-weight: 600;
}

/* Input */
.name-input {
  width: 100%;
  max-width: 300px;
  padding: 14px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
}

/* Button */
.enter-btn {
  width: 100%;
  max-width: 300px;
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: white;
  color: #071b33;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.enter-btn:active {
  transform: scale(0.96);
}
