* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Allow page to scroll */
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;   /* IMPORTANT */
  -webkit-overflow-scrolling: touch;  /* iOS smooth scroll */
}


#root {
  height: 100%;
}
